* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #27190d;
    font-family: 'Dosis', sans-serif;
}
.tab-content {
    background-color: #242424;
    display: flex;
    
    flex-direction: column;
    align-items: center;
   
    color: whitesmoke;
    font-size: 18px;
}
h2 {
    font-family: 'Major Mono Display', monospace;
    padding-top: 40px;
    padding-bottom: 20px;
}
.field-wrap {
    width: 250px;

    display: flex;
    justify-content: space-between;
}
.req {
    color:rgb(104, 104, 104)
}
.button {
    padding: 4px;
    margin:10px 0px 10px 0px;
    border-radius: 10px;
    background-color: #b4b097;
    color: whitesmoke;
}
.forgot {
    color: #b4b097;
}
