@media (max-width: 992px) {
.navbar {
        gap: 10px;
    }
#logo-icon {
      display: none;

    }
.cart-icon {
        height: 33px;
        margin-right: 0rem;
        margin-top: 4px;
    }
.navbar-list {
        position: absolute;
        top: 65px;
        left: 40%;
        right: 5%;
        width: 60%;
        flex-direction: column;
        background-color: #27190d;
        opacity: 90%;
        border: 2px;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-end;
        padding: 20px 30px;
        gap: 10px;
        z-index: 2;
        display: none;
    }

.navbar-list a {
        font-size: 18px;
    }  

.menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

.menu-label img {
        height: 20px;
        width: 25px;
    }

#menu-toggle:checked + .navbar-list {
        display: flex;
    }

.about {
        font-size: 80%;
        display: flex;
        text-align: center;
    }
#beans-section h3, #drink-section h3, #bakery h3, .shop-info h3 {
        font-size: 25px;
    }
 
.drink {
    height: 600px;
}

}

@media (max-width: 576px) {
    .cart {
        left: 0;
        width: 100%;
        border: none;
    }
    .cart-item {
        flex-wrap: wrap;
    } 
    #logo-icon {
        display: none;
    }
    #hero {
        height: 400px;
    }
    #hero h1 {
        font-size: 50px;
    }
    #hero span {
        font-size: 25px;
    }
#bakery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40%;

}
#bakery h3 {
    font-size: 20px;
}
#bakery img {
    border-radius: 20px;
    opacity: 40%;
    z-index: 0;
    width: 80%;
}
.bakery-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    z-index: 01;

}
#shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30%;
}
#shop h3{
    font-size: 20px;
}
#shop img {
    border-radius: 20px;
    position: absolute;
    opacity: 40%;
    z-index: 0;
    width: 80%;
}
.shop-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    z-index: 01;

}
.drink {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.blend1,.blend2,.blend3,.blend4 {
    width: 400px; */
}}